html {
  font-family:Verdana;
  background-color: black;
  text-align: center;
}
h1 {
  color:white;
  font-weight:normal;
  font-size:50px;
  text-align: center;
}
h2 {
  color: white;
  font-weight: 300;
  font-size:40px;
}
.download {
  color: Aquamarine;
  font-size: 16px;
}
p {
  color: gray;
  font-size:21px;
}
.copyright {
  text-align: right;
  color: Gray;
}
